*{
    padding: 0px;
    margin: 0px;
  
}


.logo {
    font-size: 24px;
    text-transform: uppercase;
    color: #87ceeb;
    letter-spacing: 3px;
}
a{
    color: #000080;
    letter-spacing: 3px;
    text-decoration:none;
}
a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 10vh;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
margin-left: 50px;
}

.container{
   display: grid;
   align-items: center;
   padding: 30px;
   
}
.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    width: 240px;

}
.top-card h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 3px;
    text-align: center;
}
.botton-btt{
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center ;
    
}
.media{
    background: url("https://authenticfeet.vteximg.com.br/arquivos/ids/228716-600-600/Tenis-Nike-Air-Max-27-React-Masculino-Multicolor.jpg?v=637044260135100000") center/cover;
    height: 200px;
    width: 100%;
}
body{
background: url(../imagem/imagem1.jpeg) no-repeat center center;
background-size: cover;
height: 92vh;
}
@media(max-width:999px){
nav{
    text-align:center;
    justify-content: space-around;
    display: flex;
}
.logo{
    font-size: 16px;
}
.nav-list li{
    font-size: 12px;
    margin-left: 15px;
}
.container{
    justify-content: center;
}
}